body {
  /* background-color: #f9fbff; */
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.article-title {
  color: #222;
  transition: all 0.5s;
}
.article-title:hover {
  color: blue;
}

p img {
  max-height: 600px;
  width: 100%;
  object-fit: contain;
}
